{% extends "home/base.html" %}
{% load static wagtailcore_tags blogapp_tags wagtailroutablepage_tags wagtailimages_tags%}

<!-- test here boy -->
{% block content %}

<div class="container mt-4" id="nav-container">
  <h3 class="blog-text">{{ post.title }}</h3>
  <small id="date" class="blog-text">Published on {{ post.date }}</small>
  <br>
  {% image post.cover width-300 class="img-fluid d-block mt-3 rounded"  %}
  {% if post.tags.all.count %}
    {% for tag in post.tags.all %}
        <a href="{% routablepageurl home_page 'post_by_tag' tag.slug %}" class="btn btn-primary">{{ tag }}</a>
    {% endfor %}
  {% endif %}
  <img width="300" src="#" alt="" class="img-fluid d-block mt-3 album-cover rounded">
  <div class="row">
    <div class="col-md-8">
      <p class="mt-3 mb-2"><em>{{ post.summary }}</em></p>
      <p class="pt-0 mb-5">{{ post.body|richtext }}</p>
    </div>
  </div>
</div>

{% endblock %}
