{% extends "home/base.html" %}
{% load blogapp_tags static wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block content %}
    <div class="container" id="nav-container">
      
        {% for post in posts %}
        
        <section class="blog-post">
            <h3 class="blog-text"><a href="{% post_date_url post home_page %}">{{ post.title }}</a></h3>
            <small id="date" class="blog-text">published on {{ post.date }}</small>
            {% image post.cover width-300 class="img-fluid d-block mt-3 rounded"  %}
            <div class="row">
              <div class="col-md-5">
                <p class="mt-3 mb-2"><em>{{ post.summary }}</em></p>
                <p class="text-muted pt-0 mb-5"><a href="{% pageurl post %}">{ read more... }</a></p>
              </div>
            </div>
          </section>
          <hr>

        {% endfor %}

            <ul class="pagination">
                {% if posts.has_previous %}
                <li class="page-item"><a href="?page={{ posts.previous_page_number }}" class="page-link">
                    <<
                </a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link"><<</a></li>
                {% endif %}
                {% for i in page_range %}
                    {% if posts.number == i %}
                    <li class="page-item active"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if posts.has_next %}
                    <li class="page-item"><a href="?page={{ posts.next_page_number }}" class="page-link">
                        >>
                    </a></li>
                {% else %}

                {% endif %}
            </ul>


    </div>
{% endblock %}




        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
