
#site-header {
    font-family: 'Abril Fatface', cursive;
    font-size: 4em;
}

a, a:hover {
    color: black;
    text-decoration: none;
}

nav {
    border-top: 3px solid #90b3db;
    padding-right: 0px;
    
}

nav .nav-link {
    color: #000;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: .5em;
    font-family: 'Open Sans', sans-serif;
}

nav .nav-link:hover {
    color: red;
}


#nav-container {
    width: 55%;
}

.blog-text {
    font-family: 'Open Sans', sans-serif;
}

.blog-post {
    margin-top: 3em;
}

#date {
    color: #90b3db;
}

.navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=ff6702');
}


@media (min-width: 500px) {
    #search-bar {
        width: 20em;
    }
}

@media (max-width: 500px) {
    #search-button {
        width: 100%;
    }
}


.album-cover {

}
