{% load static wagtailcore_tags blogapp_tags wagtailroutablepage_tags %}

<div class="container" id="nav-container">
  <nav class="navbar navbar-expand-sm py-0 px-0" id="main-nav">
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <form role="search" method="get" class="form-inline pt-3 form-search" action="{% routablepageurl request.site.root_page.specific 'post_search' %}">
    <input type="text" name="q" id="search-bar" class="form-control mr-sm-2 search-query" type="search" placeholder="Search&hellip;" title="Search for:" aria-label="Search">
    <button class="btn btn-outline-danger my-2 my-sm-0" name="submit" id="search-button" type="submit" value="Search">Search</button>
  </form>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mt-2 ml-auto">
      <li class="nav-item">
        <a href="/about" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Archive</a>
      </li>
    </ul>
  </div>
  </nav> 
</div>

